*.iml
.kotlin
.gradle
**/build/
.fleet
composeApp/.cxx
composeApp/build
composeApp/src/wasmJsMain/resources/pocketPixel.js
composeApp/src/wasmJsMain/resoucres/pocketPixel.wasm
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
